
<section class="container-fluid">
    <div class="row">
        <div class="col-3" *ngFor="let song of newSongs" >
            
            <div class="card">
              <img [src]="song.images | noimage" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">  {{song.name}} </h5>
                <p class="card-text center">
                    {{song.artists[0].name }}
                </p>
              </div>
            </div>
          </div>
    </div>
</section>
